<html>

<head>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
  <script type="text/javascript" src="/scripts/bootstrap.min.js"></script>
</head>

<body>
    <div class="MainContainer">
        {{>header}}
        <br>
        <img src="/img/423.jpg" />
        {{>footer}}
    </div>

</body>

</html>